{% load staticfiles %}

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 ">
        <h4 class="text-center text-sm-left">Öffnungszeiten</h4>
        <ul class="list">
          <li>Montag-Freitag: 9-18Uhr</li>
          <li>Samstag: 9-16 Uhr</li>
          <li>Sonntag: geschlossen</li>
        </ul>
        <p class="copyright">
          © <span id="copyright-year"></span> <a href="http://www.bytesbrigade.com">Bytes Brigade</a>.
          <a href='index-13.html' class="privacy-link">Impressum</a>
        </p>
      </div>
      <div class="col-sm-6 col-md-3  col-lg-3 offset-top-30 offset-sm-top-0">
        <h4 class="text-center text-sm-left">Kontakt</h4>
        <ul class="vertical-list">
          <li><a href="tel:#" class="info tel">+49 8151 750 22 94</a></li>
          <li><a href="mailto:homepage@phone-rescue.de" class="info mail">hi@phone-rescue.de</a></li>
          <li><a href="#" class="info marker">Josef-Jägerhuber-Str. 2 <br>
            82319 Starnberg</a></li>
        </ul>
      </div>
      <div class="col-sm-8  col-md-5 col-lg-preffix-1 col-lg-4 offset-top-30 offset-md-top-0  text-left">
        <h4 class="text-center text-sm-left">Newsletter</h4>
        <!-- RD Mailform -->
        <form class='rd-mailform subscribe' method="post" action="bat/rd-mailform.php">
          <!-- RD Mailform Type -->
          <input type="hidden" name="form-type" value="contact"/>
          <!-- END RD Mailform Type -->
          <fieldset>
            <label data-add-placeholder>
              <input type="text"
                     name="email"
                     placeholder="Enter your e-mail"
                     data-constraints="@NotEmpty @Email"/>
            </label>
            <div class="mfControls">
              <button class="btn btn-primary btn-aylen" type="submit">Send</button>
            </div>
            <div class="mfInfo"></div>
          </fieldset>
        </form>
        <!-- END RD Mailform -->
        <h4 style="display: inline-block;" class=" offset-top-30 offset-lg-top-85"> Follow Us</h4>
        <ul class="inline-list-footer offset-top-30 offset-lg-top-85">
          <li><a href="#" class="icon icon-sm icon-banana fa-facebook"></a></li>
          <li><a href="#" class="icon icon-sm icon-banana fa-twitter"></a></li>
          <li><a href="#" class="icon icon-sm icon-banana fa-instagram"></a></li>
          <li><a href="#" class="icon icon-sm icon-banana fa-google-plus"></a></li>
        </ul>
      </div>
    </div>

  </div>
</footer>