{% templatetag openblock %} load cms_tags menu_tags sekizai_tags {% templatetag closeblock %}
{% templatetag openblock %} load staticfiles {% templatetag closeblock %}

<!doctype html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Title | {% templatetag openblock %} block title {% templatetag closeblock %}{% templatetag openblock %} endblock title {% templatetag closeblock %}</title>

    <meta name="description" content="{% templatetag openblock %} page_attribute "meta_description" {% templatetag closeblock %}" />
    <meta name="keywords" content="{% templatetag openblock %} page_attribute "meta_keywords" {% templatetag closeblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="{% templatetag openblock %} static "assets/img/favicon/apple-touch-icon.png" {% templatetag closeblock %}">
    <link rel="icon" type="image/png" href="{% templatetag openblock %} static "assets/img/favicon/favicon-32x32.png" sizes="32x32" {% templatetag closeblock %}">
    <link rel="icon" type="image/png" href="{% templatetag openblock %} static "assets/img/favicon/favicon-16x16.png" sizes="16x16" {% templatetag closeblock %}">
    <link rel="manifest" href="{% templatetag openblock %} static "assets/img/favicon/manifest.json" {% templatetag closeblock %}">
    <link rel="shortcut icon" href="{% templatetag openblock %} static "assets/img/favicon/favicon.ico" {% templatetag closeblock %}">
    <link rel="mask-icon" href="{% templatetag openblock %} static "assets/img/favicon/safari-pinned-tab.svg" {% templatetag closeblock %}" color="#333333">
    <meta name="msapplication-config" content="{% templatetag openblock %} static "assets/img/favicon/browserconfig.xml" {% templatetag closeblock %}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{% templatetag openblock %} static "css/screen.css" {% templatetag closeblock %}"/>

    {% templatetag openblock %} block extra_head {% templatetag closeblock %}{% templatetag openblock %} endblock extra_head {% templatetag closeblock %}
    {% templatetag openblock %} render_block "css" {% templatetag closeblock %}

  </head>
  <body id="top">
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% templatetag openblock %} cms_toolbar {% templatetag closeblock %}

    {% templatetag openblock %} include "includes/header.html" {% templatetag closeblock %}

    {% templatetag openblock %} block extra_body {% templatetag closeblock %}{% templatetag openblock %} endblock extra_body {% templatetag closeblock %}

    {% templatetag openblock %} block base_content {% templatetag closeblock %}{% templatetag openblock %} endblock base_content {% templatetag closeblock %}

    {% templatetag openblock %} include "includes/footer.html" {% templatetag closeblock %}

    <script src="{% templatetag openblock %} static "js/site.bundle.js" {% templatetag closeblock %}"></script>

    {% templatetag openblock %} render_block "js" {% templatetag closeblock %}

  </body>
</html>